.grid-container {
  max-width: 75vh;
  max-height: 75vh;

  overflow: scroll;

  .grid-row {
    display: flex;
    flex-direction: row;

    .grid-cell {
      border: 1px solid black;
      padding: 15px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}